:root{
    --fonteTitulos: 'Roboto Condensed';
}

.fundo-login{
    background-image: url('../images/login-fundo.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5); /* Cor preta semi-transparente */
    background-blend-mode: darken;
    
    
}

body{
    font-family:var(--fonteTitulos) ;
}